<div class="container-fluid services-page" >
  <!-- Navbar -->

  <app-navbar></app-navbar>


  <div class="header">
      <h4>SERVICES</h4>
  </div>

  <div class="contaner-fluid event-container">
      <div id="carouselExampleIndicators" class="carousel slide event-list" data-bs-ride="carousel">
          <div class="carousel-inner" id="event-type-list">
            <div class="carousel-item active">
              <div class="carousel-caption" id="slide-one">
                  <div class="card-container">
                    <div class="card col-md-4" id="event1"></div>
                    <div class="card-caption">
                      <p>Private Events</p>
                    </div>
                  </div>

                  <div class="card-container">
                    <div class="card col-md-4" id="event2"></div>
                    <div class="card-caption">
                      <p>Wedding Events</p>
                    </div>
                  </div>

                  <div class="card-container">
                    <div class="card col-md-4" id="event3"></div>
                    <div class="card-caption">
                      <p>Corporate Events</p>
                    </div>
                  </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-caption" id="slide-one">
                  <div class="card-container">
                    <div class="card col-md-4" id="event4"></div>
                    <div class="card-caption">
                      <p>Birthday Events</p>
                    </div>
                  </div>

                  <div class="card-container">
                    <div class="card col-md-4" id="event5"></div>
                    <div class="card-caption">
                      <p>Baby shower Events</p>
                    </div>
                  </div>

                  <div class="card-container">
                    <div class="card col-md-4" id="event6"></div>
                    <div class="card-caption">
                      <p>Funeral Events</p>
                    </div>
                  </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-caption" id="slide-one">
                  <div class="card-container">
                    <div class="card col-md-4" id="event7"></div>
                    <div class="card-caption">
                      <p>Dowry Events</p>
                    </div>
                  </div>

                  <div class="card-container">
                    <div class="card col-md-4" id="event8"></div>
                    <div class="card-caption">
                      <p>Fundraising Events</p>
                    </div>
                  </div>

                  <div class="card-container">
                    <div class="card col-md-4" id="event9"></div>
                    <div class="card-caption">
                      <p>Get-together Events</p>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>

      <div class="event-page-buttons">
          <div class="button-container">
              <a routerLink="/more-info" routerLinkActive="active" href=""><button type="button" class="btn btn-primary" id="more-info">MORE INFO</button></a>
              <a routerLink="/enquire" routerLinkActive="active" href=""><button type="button" class="btn btn-primary" id="enquire">ENQUIRE</button></a>
          </div>
      </div>
  </div>



</div>
