<nav class="navbar navbar-expand-lg navbar-dark" id="main-navbar">
  <a class="navbar-brand" href="index.html">PEMS</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
  </button>
  <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ms-auto">
          <li class="nav-item active"><a routerLink="" routerLinkActive="active" href="" class="nav-link">Home</a></li>
          <li class="nav-item"><a routerLink="/about" routerLinkActive="active"  href="" class="nav-link">About Us</a></li>
          <li class="nav-item"><a routerLink="/services" routerLinkActive="active" href="" class="nav-link">Services</a></li>
          <li class="nav-item"><a routerLink="/enquire" routerLinkActive="active" href="" class="nav-link">Enquire</a></li>
      </ul>
  </div>
</nav>
