<div class="contaner-fluid about-page">
  <!-- Navbar -->
  <app-navbar></app-navbar>
  <div class="header">
    <h4>ABOUT US</h4>
  </div>

  <div class="row">
    <div class="col-md-7 team">
      <div class="who-we-are">
        <h4>Who we are</h4>
        <p>Welcome to PEM, the newest event management website. We offer services to different occasions. Our services are one of a kind meant to last a
           lifetime, talk about your wedding, kid's birthday parties, anniversaries, meetings either formal or informal, or any occasion you want to
           celebrate; Count on us!</p>

      </div>

      <div class="our-team">
        <h4>Our Team</h4>
        <div class="team-container">
          <div class="card-container" >
            <div class="card" id="team1">

            </div>
            <div class="card-caption">
              <p>Danson Muriuki; </p>
              <p>Chief Executive Officer</p>
            </div>
          </div>

          <div class="card-container" >
            <div class="card" id="team2">

            </div>
            <div class="card-caption">
              <p>Aisling Larisi; </p>
              <p>Senior Manager-Brand</p>
            </div>
          </div>

          <div class="card-container" >
            <div class="card" id="team3">

            </div>
            <div class="card-caption">
              <p>Flynn Mutua; </p>
              <p>Senior Manager- Finance</p>
            </div>
          </div>

          <div class="card-container" >
            <div class="card" id="team4">

            </div>
            <div class="card-caption">
              <p>Angel Jeruto; </p>
              <p>Regional Director</p>
            </div>
          </div>

       </div>
      </div>

    </div>
    <div class="col-md-4 partners">
      <div class="col-md-10 partners-container">
        <h4>Our Partners</h4>
        <div class="partners-logo">
          <img src="../../assets/img/partners/aic.png" alt="">
          <img src="../../assets/img/partners/awf.png" alt="">
          <img src="../../assets/img/partners/amhf.png" alt="">
          <img src="../../assets/img/partners/GBM-FINAL-logo-SPOT-1024x611.jpg" alt="">



        </div>

      </div>

    </div>

  </div>



</div>


