<div class="contaner-fluid home-page">
  <!-- Navbar -->
  <app-navbar></app-navbar>
<div class="container-fluid" id="inner-background">
  <div class="container home-content">


    <div class="content">
        <div class="title">
            <h1>PEMS EVENT MANAGEMENT</h1>

            <div class="slider">
                <div>FOREVER</div>
                <div>TODAY</div>
                <div>NOW</div>
            </div>
        </div>
        <p>We love to create unique and personalized themes for any occasion with stimulating visual effects. After all,  the perfect event is attractive <br>
          not only to our senses but also to how it makes us feel and what it makes us believe.

          </p>
    </div>
  </div>
</div>



</div>

<!-- Footer -->

<app-footer></app-footer>
